/* Postcard */
.postcard-container {
  position: relative;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100vh;
}

.postcard-container .banner {
  background: url('../../img/esc-background-2.png') no-repeat center
    center/cover;
  width: 25%;
  position: fixed;
  top: 10vh;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.postcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-left: 25%;
  height: 100vh;
}

.postcard .postcard-top {
  display: flex;
  width: 100%;
}

.postcard .postcard-top .postcard-hero {
  width: 70%;
  position: relative;
}

.postcard .postcard-top .postcard-hero .postcard-img {
  width: 100%;
  /* height: 100%; */
}

.postcard .postcard-top .postcard-hero .postcard-flag {
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 10;
  width: 200px;
}

.postcard .postcard-top .postcard-hero .postcard-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 2px;
  left: 0;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100px;
}

.postcard .postcard-top .postcard-hero .postcard-title h2 {
  margin-right: 100px;
  font-size: 2rem;
  color: #fff;
}

.postcard .postcard-top .postcard-info {
  width: 30%;
  background-color: #ededf0;
  padding: 1rem 1.5rem;
}

.postcard .postcard-top .postcard-info .postcard-list span {
  display: block;
}

.postcard .postcard-top .postcard-info div {
  margin-bottom: 1rem;
}

.postcard .postcard-top .postcard-info div h3 {
  margin: 0;
  padding-bottom: 0.5rem;
}

.postcard .postcard-top .postcard-info .user-votes h3 {
  padding-bottom: 0;
  margin-bottom: -0.25rem;
}

.postcard .postcard-top .postcard-info .user-votes .form {
  padding: 0;
  margin: 0;
}

.postcard .postcard-top .postcard-info .user-votes .form select {
  margin: 0;
  width: 100%;
  padding: 0 0.4rem;
  font-size: 1rem;
}

.postcard .postcard-content {
  width: 80%;
  margin-top: -2px auto 0 auto;
}

.postcard .postcard-content .postcard-bio {
  color: black;
}

.postcard .postcard-content .postcard-bio .intro {
  font-weight: bold;
}

.postcard .postcard-content .postcard-bio p {
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 1rem;
}

.postcard .postcard-content .postcard-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 5rem 0;
  grid-area: video;
  width: 100%;
}

.postcard .postcard-content iframe {
  width: 700px;
  height: 400px;
}
