@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 15vh auto 0 auto;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  padding: 10px 20px;
}

.navbar .logo img {
  width: 100px;
  margin: 0.5rem;
}

.navbar .links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar .nav-links {
  display: flex;
}

.navbar .nav-links:last-of-type {
  margin-right: 1rem;
}

.navbar .nav-links li a {
  color: #fff;
  font-size: 1.2rem;
  margin: 0 1rem;
}
