@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #1ebff7;
  --secondary-color: #fec731;
  --dark-color: #00022e;
  --light-color: #f4f4f4;
  --danger-color: #b42937;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.background {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.background .banner {
  background: url('./img/esc-background-2.png') no-repeat center center/cover;
  width: 30%;
  position: fixed;
  top: 10vh;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.background .content {
  background: url('./esc-stage-background.jpg') center center/cover fixed;
  top: 10vh;
  left: 0;
  width: 70%;
  margin-left: 30%;
  position: relative;
  height: 90vh;
}

.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.container-inner {
  margin: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Utilities */
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.small-text {
  color: rgb(110, 110, 110);
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: #fff;
}

.btn-container {
  display: flex;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  background: var(--secondary-color);
  color: var(--dark-color);
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 2px solid transparent;
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-primary:hover {
  background: var(--secondary-color);
  color: #fff;
}

.btn-secondary:hover {
  background: var(--dark-color);
  color: var(--secondary-color);
}

.btn-dark:hover {
  opacity: 0.8;
}

.btn-light:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 2px solid var(--light-color);
}

.btn-light.active {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 2px solid var(--light-color);
}

.alert {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 200;
  width: 20%;
  display: flex;
  padding: 0.8rem;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

/* Navbar */
.navbar-behind {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: black;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  padding: 10px 20px;
}

.navbar .logo img {
  width: 100px;
  margin: 0.5rem;
}

.navbar .links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar .nav-links {
  display: flex;
}

.navbar .nav-links:last-of-type {
  margin-right: 1rem;
}

.navbar .nav-links li a {
  color: #fff;
  font-size: 1.2rem;
  margin: 0 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.navbar .nav-links li a i {
  margin-right: 0.4rem;
}

.navbar .nav-links li a:hover {
  border-bottom-color: var(--secondary-color);
}

.navbar .nav-links li a.active {
  color: var(--secondary-color);
}

/* Landing */

/* Dashboard */
.dashboard .container h1 {
  color: #fff;
}

/* Edit */
.admin .container h1 {
  color: #fff;
  margin: 2rem;
}

.admin .container .btn-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.admin .container .list {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.admin .container .list .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 2rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding: 0.25rem;
}

.admin .container .list .list-item .item-info {
  display: flex;
  width: 75%;
}

.admin .container .list .list-item .item-info h2 {
  color: #fff;
}

.admin .container .list .list-item .item-info h2:hover {
  color: var(--primary-color);
}

.admin .container .list .list-item .item-info h2 span {
  color: var(--secondary-color);
  font-size: 1.3rem;
  margin-left: 1rem;
}

.admin .container .list .list-item .item-info img {
  width: 50px;
  margin-right: 1rem;
}

.admin .container .list .list-item .item-action {
  margin-right: 3rem;
  display: flex;
}

/* Forms */
.admin-form .container-inner {
  width: 80%;
  margin: 2rem auto;
  color: #fff;
}

.admin-form .container-inner p,
.admin-form .container-inner small {
  color: var(--secondary-color);
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='number'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
}

.form input[type='submit'],
button {
  font: inherit;
}

/* Register / Login */
.auth .overlay {
  display: flex;
  justify-content: center;
}
.auth .auth-container {
  color: var(--light-color);
  width: 60%;
  margin-top: 2rem;
}

/* Participants / Countries */
.participants .banner,
.countries .banner {
  width: 25%;
  position: fixed;
}

.participants .content,
.countries .content {
  column-gap: 0px;
  width: 75%;
  margin-left: 25%;
}

.participants .content .container,
.countries .content .container {
  width: 100%;
  margin: 0;
}

.participants .content .container .btn-container {
  margin: 1.5rem 0;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.countries .card-container {
  margin: 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
}

.participants .card,
.countries .card {
  width: 25%;
}

.countries .card {
  margin-bottom: 1rem;
}

.participants .card .card-img img {
  width: 100%;
}

.countries .card .card-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries .card .card-img img {
  width: 50%;
}

.card .card-content {
  position: relative;
  padding: 2rem;
}

.countries .card .card-content {
  padding: 0;
}

.card .card-content .card-pill {
  position: absolute;
  top: -15px;
}

.card .card-content .card-pill a {
  background-color: #fff;
  color: black;
  padding: 5px 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card .card-content .card-pill a:hover {
  background-color: black;
  color: #fff;
}

.card .card-content .card-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card .card-content .card-info a {
  font-size: 1.5em;
  color: #fff;
  margin: 0.25rem 0;
}

.countries .card .card-content .card-info a {
  text-align: center;
}

.card .card-content .card-info a:hover {
  color: var(--primary-color);
}

.card .card-content .card-info span {
  font-size: 0.9rem;
  color: var(--secondary-color);
}

/* Postcard */
.postcard-container {
  position: relative;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100vh;
}

.postcard-container .banner {
  background: url('./img/esc-background-2.png') no-repeat center center/cover;
  width: 25%;
  position: fixed;
  top: 10vh;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.postcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-left: 25%;
  height: 100vh;
}

.postcard .postcard-top {
  display: flex;
  width: 100%;
}

.postcard .postcard-top .postcard-hero {
  width: 70%;
  position: relative;
}

.postcard .postcard-top .postcard-hero .postcard-img {
  width: 100%;
}

.postcard .postcard-top .postcard-hero .postcard-flag {
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 10;
  width: 200px;
}

.postcard .postcard-top .postcard-hero .postcard-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 2px;
  left: 0;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100px;
}

.postcard .postcard-top .postcard-hero .postcard-title h2 {
  margin-right: 100px;
  font-size: 2rem;
  color: #fff;
}

.postcard .postcard-top .postcard-info {
  width: 30%;
  background-color: #ededf0;
  padding: 1rem 1.5rem;
}

.postcard .postcard-top .postcard-info .postcard-list span {
  display: block;
}

.postcard .postcard-top .postcard-info div {
  margin-bottom: 1rem;
}

.postcard .postcard-top .postcard-info div h3 {
  margin: 0;
  padding-bottom: 0.5rem;
}

.postcard .postcard-content {
  width: 80%;
  margin-top: -2px auto 0 auto;
}

.postcard .postcard-content .postcard-bio {
  color: black;
}

.postcard .postcard-content .postcard-bio .intro {
  font-weight: bold;
}

.postcard .postcard-content .postcard-bio p {
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 1rem;
}

.postcard .postcard-content .postcard-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 5rem 0;
  grid-area: video;
  width: 100%;
}

.postcard .postcard-content iframe {
  width: 700px;
  height: 400px;
}
